aiohttp==3.8.3
aiosignal==1.2.0
alembic==1.4.2
alpha-vantage==2.3.1
apache-airflow==1.10.11
apispec==1.3.3
appnope==0.1.0
argcomplete==1.12.0
argon2-cffi==20.1.0
astroid==2.12.10
async-timeout==4.0.2
attrs==19.3.0
Babel==2.8.0
backcall==0.2.0
bleach==3.1.5
cached-property==1.5.1
cassandra-driver==3.25.0
cattrs==1.0.0
certifi==2020.6.20
cffi==1.14.2
chardet==3.0.4
charset-normalizer==2.1.1
click==7.1.2
colorama==0.4.3
colorlog==4.0.2
configparser==3.5.3
contourpy==1.0.5
croniter==0.3.34
cycler==0.11.0
decorator==4.4.2
defusedxml==0.6.0
dill==0.3.2
distlib==0.3.6
dnspython==2.0.0
docutils==0.16
docx==0.2.4
email-validator==1.1.1
entrypoints==0.3
filelock==3.8.0
Flask==1.1.2
Flask-Admin==1.5.4
Flask-AppBuilder==2.3.4
Flask-Babel==1.0.0
Flask-Caching==1.3.3
Flask-JWT-Extended==3.24.1
Flask-Login==0.4.1
Flask-OpenID==1.2.5
Flask-SQLAlchemy==2.4.4
flask-swagger==0.2.13
Flask-WTF==0.14.3
fonttools==4.37.4
frozenlist==1.3.1
funcsigs==1.0.2
future==0.18.2
geomet==0.2.1.post1
get-all-tickers==1.7
graphviz==0.14.1
gunicorn==19.10.0
idna==2.10
ipykernel==5.3.4
ipython==7.17.0
ipython-genutils==0.2.0
ipywidgets==7.5.1
iso8601==0.1.12
isort==5.10.1
itsdangerous==1.1.0
jedi==0.17.2
Jinja2==2.10.3
json-merge-patch==0.2
jsonschema==3.2.0
jupyter==1.0.0
jupyter-client==6.1.6
jupyter-console==6.1.0
jupyter-core==4.6.3
kiwisolver==1.4.4
lazy-object-proxy==1.5.1
lockfile==0.12.2
lxml==4.5.2
Mako==1.1.3
Markdown==2.6.11
MarkupSafe==1.1.1
marshmallow==2.21.0
marshmallow-enum==1.5.1
marshmallow-sqlalchemy==0.23.1
matplotlib==3.6.1
mccabe==0.7.0
mistune==0.8.4
multidict==6.0.2
multitasking==0.0.9
natsort==7.0.1
nbconvert==5.6.1
nbformat==5.0.7
notebook==6.1.3
numpy==1.23.4
packaging==21.3
pandas==1.5.0
pandas-datareader==0.10.0
pandocfilters==1.4.2
parso==0.7.1
patsy==0.5.3
pbr==5.10.0
pendulum==1.4.4
pep257==0.7.0
pexpect==4.8.0
pickleshare==0.7.5
Pillow==9.2.0
platformdirs==2.5.2
prison==0.1.3
prometheus-client==0.8.0
prompt-toolkit==3.0.6
psutil==5.7.2
psycopg2==2.9.4
psycopg2-binary==2.9.5
ptyprocess==0.6.0
pycodestyle==2.9.1
pycparser==2.20
Pygments==2.6.1
PyJWT==1.7.1
pylint==2.15.3
pyparsing==2.4.7
pyrsistent==0.16.0
python-daemon==2.2.4
python-dateutil==2.8.1
python-docx==0.8.11
python-editor==1.0.4
python-nvd3==0.15.0
python-slugify==4.0.1
python3-openid==3.2.0
pytz==2020.1
pytzdata==2020.1
PyYAML==5.3.1
pyzmq==19.0.2
qtconsole==4.7.6
QtPy==1.9.0
requests==2.24.0
scipy==1.9.2
Send2Trash==1.5.0
setproctitle==1.1.10
six==1.15.0
SQLAlchemy==1.3.19
SQLAlchemy-JSONField==0.9.0
SQLAlchemy-Utils==0.36.8
statsmodels==0.13.2
stevedore==4.0.0
tabulate==0.8.7
tenacity==4.12.0
terminado==0.8.3
testpath==0.4.4
text-unidecode==1.3
thrift==0.13.0
tomli==2.0.1
tomlkit==0.11.5
tornado==6.0.4
traitlets==4.3.3
typing_extensions==4.3.0
tzlocal==1.5.1
unicodecsv==0.14.1
urllib3==1.25.10
virtualenv==20.16.5
virtualenv-clone==0.5.7
virtualenvwrapper==4.8.4
wcwidth==0.2.5
webencodings==0.5.1
Werkzeug==0.16.1
widgetsnbextension==3.5.1
wrapt==1.14.1
WTForms==2.3.3
yarl==1.8.1
yfinance==0.1.54
zope.deprecation==4.4.0
